.recipes-listing-wrapper {
  .recipe-content {
    margin-bottom: 5%;
    height: 200px;
    .left-contents {
      display: inline-block;
      width: 30%;
      float: left;
      margin-right: 5%;
      .image-box {
        img {
          border-radius: 6px;
          width: 100%;
          height: 100%;
        }
        
      }
    }
  
    .right-contents {
      position: relative;
      display: inline-block;
      width: 65%;
      height: 100%;
      .recipe-title {
        a {
          color: #158b2b;
        }
        a:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }
      .recipe-description {
        margin-bottom: 3%;
        max-height: 50px;
      }
      .ingredients {
        .badge {
          a {
            color: #fff;
          }
          a:hover {
            text-decoration: none;
            opacity: 0.8;
          }
        }
      }
      .other-info {
      }
      .bottom-contents {
        position: absolute;
        bottom: 0;

        .recipe-actions {

        }
      }
    }
  }
  
}