-if obj.errors.any?
  .row
    .col-md-offset-2.col-md-8
      .panel.panel-danger
        .panel-heading
          %h2.panel-title
            = pluralize(obj.errors.count, 'error')
            = "prohibited this " + obj.class.to_s + " from being saved:"
          .panel-body
            %ul
              - obj.errors.full_messages.each do |msg|
                %li= msg