-if obj.errors.any?
  .alert-error-box
    .col-md-offset-2.col-md-8
      .panel.panel-danger
        .panel-heading
          %h2.panel-title
            = pluralize(obj.errors.count, 'errors')
            = "prohibited this #{obj.class} from being saved:"
          .panel-body
            %ul
              - obj.errors.full_messages.each do |msg|
                %li= msg
                