.jumbotron.center
  %h1 Welcome to myrecipes
  - if !logged_in?
    %p.signup-for-guest= link_to "Signup now !", signup_path, class: 'btn btn-outline-success btn-lg', role: "button"

.row
  .col-lg-4
    %h2 Safari bug warning!
    %p.text-danger As of v9.1.2, Safari exhibits a bug in which resizing your As of v9.1.2, Safari exhibits a bug in which resizing your As of v9.1.2, Safari exhibits a bug in which resizing your 
    %p.sample-button= link_to "View details", "#", class: 'btn btn-outline-success', role: "button"
  .col-lg-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac 
    %p.sample-button= link_to "View details", "#", class: 'btn btn-outline-success', role: "button"
  .col-lg-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac   
    %p.sample-button= link_to "View details", "#", class: 'btn btn-outline-success', role: "button"
