.jumbotron.center
  %h1 Welcome to myrecipes
  %h2 the best recipe sharing app!

.row
  .col-lg-4
    %h2 Safari bug warning!
    %p.text-danger As of v9.1.2, Safari exhibits a bug in which resizing your 
.row
  .col-lg-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac 
.row
  .col-lg-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac   
    