// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import "home";
@import "recipes";
@import "users";
@import "signup_signin";

$mainColor: #00bfff;

a {
  text-decoration: none;
}

label {
  margin-bottom: 0.2em;
}

.form-control {
  border-radius: 6px;
}
.center {
  text-align: center;
}

.container {
  width: 80%;
}

.alert-error-box {
  position: relative;
  color: red;
  border: 1px solid red;
  border-radius: 6px;
  padding: 0.3em 0.6em;

  .error-msg {
    display: inline-block;
    max-width: 90%;
  }
  .alert-close {
    display: inline-block;
    font-size: 1.4em;
    float: right;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    right: 0.5em;
    top: 0;
  }

  .panel-title {
    color: red;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('sample.jpg');
  height: 450px;
  background-size: cover;
  margin-top: 30px;
}

.jumbotron h1, h2 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

body {
  height: 100%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.colormatch a {
  color: $mainColor;
}

