@import 'shared/recipes_listing';
.recipe-show {
  .recipe-box {
    width: 80%;
    margin: 0 auto;
    .recipe-image {

    }
    .recipe-description  {

    }
    .other-info {
      margin-bottom: 30px;
      .chef-info {
        .chefname {
          display: inline-block;
          vertical-align: middle;
        }
        .chefavatar {
          vertical-align: middle;
          display: inline-block;
          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }
      }
    }
    .recipe-actions {
      
    }
  }
}