// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe-box {
  padding: 30px;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  margin-bottom: 20px;

}